== {{ wiki_section }} ==
{% raw %}{| class='wikitable sortable' style='width:99.9%; text-align:left; border: 2px solid black; cellspacing=0; cellpadding=2;'
|+ Hover over the names of the reagents in the recipe column to see their chemical formulas!
! scope='col' class='sortable'   style='width:15%; background-color:#CEA10540; border: 1px solid black;'| Name
! scope='col' class='unsortable' style='width:20%; background-color:#CEA10540; border: 1px solid black;'| Formulas
! scope='col' class='unsortable' style='width:50%; background-color:#CEA10540; border: 1px solid black;'| Effects
! scope='col' class='unsortable' style='width:15%; background-color:#CEA10540; border: 1px solid black;'| Rate
|-{% endraw %}
{% for chem in chem_list -%}
! {% raw %}{{{% endraw %}anchor|{{ chem.id_placeholder }}{% raw %}}}<span style='background-color:#ACEAEF; color:{% endraw %}{{ chem.color }}'>▮</span> [[#{{ chem.id_placeholder }}|{{ chem.id_placeholder }}]]
| {{ chem.recipe }}
| {{ chem.effects }}
| {{ chem.metabolic_rate }}
|-
{% endfor -%}
|{% raw %}}{% endraw %}