= Chemicals =
This is a list of the various chemicals in the game.<br>When a reagent in a recipe is marked <sup>(catalyst)</sup> it means it will not be consumed in the reaction.

Every damage healed or dealt is by unit.<br>If you want to know how much health is modified by in seconds, just multiply the damage by the rate.

This page was generated using a script (link will be added when merged to dV GitHub).